/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

main {
  margin: 50px;
}

nav {
  a {
    color: #000;
    margin: 0 10px;
    padding: 20px 40px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
    border-radius: 5px;
    text-decoration: none;

    &:hover {

      background-color: aqua;
    }
  }
}
